@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Brand USA</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-rim-auto-match" content="none">
	<link href="/Content/css/brand-usa.css" rel="stylesheet" />
	<script src="https://api.html5media.info/1.1.8/html5media.min.js"></script>
	<style>
		#btnPlay {
			position: relative;
			top: 160px;
			left: calc(50% - 2em);
			width: 4em !important;
			height: 4em !important;
			z-index: 11;
			background-image: url(http://picture.thomascook.com.cn/active/american-brand/play-button.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			padding: 1.5em 2em;
			border-width: 0;
			background-color: transparent;
		}
	</style>
</head>
<body>
	<!--pc端-->

	<div id="scrollpage">
		<div class="section section1">
			<div class="width_min">
				<div class="phone-logo" id="title">
					<img src="http://picture.thomascook.com.cn/active/american-brand/phone-logo.png">
				</div>
				<div class="phone-banner padding10">
					<div style="min-height: 360px;overflow:hidden;background-image:url(http://picture.thomascook.com.cn/active/american-brand/phone-banner1.jpg);background-size:100% 100%;background-repeat:no-repeat;">
						<div id="galleryWrapper"></div>
						<input id="btnPlay" type="button" value="" />
					</div>
					<div class="phone-centent">
						<p class="page-text2">假装在拉斯维加斯</p>
						<a class="phone-reserve-btn tbn-model">
							<span>申领VR眼镜</span>
						</a>
					</div>
				</div>
				<div class="foot">
					<img src="http://picture.thomascook.com.cn/active/american-brand/phone-icon-up.png" class="hd-up1">
				</div>
			</div>
			<!--蒙版层-->
			<div class="tk-model" style="display: none">
				<div class="model-bg"></div>
				<img src="http://picture.thomascook.com.cn/active/american-brand/icon-close.png" class="model-close">
				<div class="model-centent">
					<p>长按关注「托迈酷客」</p>
					<img src="http://picture.thomascook.com.cn/active/american-brand/model-code.png">
					<p>回复#申领VR#<br />即可获得VR眼镜</p>
				</div>
			</div>
		</div>

		<div class="section section2">
			<div class="width_min">
				<div class="phone-banner padding-no">
					<img src="http://picture.thomascook.com.cn/active/american-brand/phone-banner2.jpg">
				</div>
				<div class="phone-centent">
					<p class="page-text2">美西9日自驾<br />订制化品牌租车服务</p>
					<p class="page-text3">漫漫美国西海岸的“征途”，只用一种方法让你征服它——自驾</p>
					<a class="phone-reserve-btn" href="http://www.thomascook.com.cn/product/detail/1290">
						<span>立即预定</span>
					</a>
				</div>
				<div class="foot">
					<img src="http://picture.thomascook.com.cn/active/american-brand/phone-icon-up.png" class="hd-up1">
				</div>
			</div>
		</div>

		<div class="section section3">
			<div class="width_min">
				<div class="phone-banner padding-no">
					<img src="http://picture.thomascook.com.cn/active/american-brand/phone-banner3.jpg">
				</div>
				<div class="phone-centent">
					<p class="page-text2">佛罗里达11日自驾<br />订制化品牌租车服务</p>
					<p class="page-text3">满载一车厢的欢声笑语，全家奔向佛罗里达的阳光、乐园、沙滩</p>
					<a class="phone-reserve-btn" href="http://www.thomascook.com.cn/product/detail/1304">
						<span>立即预定</span>
					</a>
				</div>
				<div class="foot">
					<img src="http://picture.thomascook.com.cn/active/american-brand/phone-icon-up.png" class="hd-up1">
				</div>
			</div>
		</div>

		<div class="section section4">
			<div class="width_min">
				<div class="phone-banner padding-no">
					<img src="http://picture.thomascook.com.cn/active/american-brand/phone-banner4.jpg">
				</div>
				<div class="phone-centent">
					<p class="page-text2">美东时尚与文化之旅</p>
					<p class="page-text3">如果美西是狂野的话，美国东海岸则以资深、时尚、文化自居</p>		
					<a class="phone-reserve-btn" href="http://www.thomascook.com.cn/product/detail/28770">
						<span>立即预定</span>
					</a>
				</div>
				<div class="foot">
					<img src="http://picture.thomascook.com.cn/active/american-brand/icon-up.png" class="hd-up">
				</div>

			</div>
		</div>

		<div class="section section5">
			<div class="width_min">
				<div class="phone-about-logo">
					<img src="http://picture.thomascook.com.cn/active/american-brand/icon-logo1.png">
				</div>
				<div class="phone-about-title">
					<h5>关于Brand USA美国旅游推广局</h5>
					<p>Brand USA美国旅游推广局为非盈利性的半政府机构，致力于向全球游客推广美国这一世界顶级旅游目的地，并就美国出入境政策和流程进行沟通。它在《美国旅游促进法》指引下成立，旨在通过与旅游业以及联邦政府的密切合作，促进海外游客赴美旅游，带动经济，并提升美国在全球的形象。Brand USA美国旅游推广局于2010年成立，并于2011年5月开始运作，以Brand USA为品牌展开运营。根据牛津经济研究院的调查，过去三年来，Brand USA美国旅游推广局已与全球600多家伙伴建立了合作。研究显示，过去三年Brand USA美国旅游推广局新营销，使赴美游客数量增加了300多万，为美国带来了近210亿美元的总体v经济效益，平均每年增加5万个就业岗位。</p>
				</div>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="/Scripts/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/Scripts/jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="/Scripts/aframe-master.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#scrollpage').fullpage({
				navigation: true
			});
			$('.tbn-model').click(function () {
				$('.tk-model').show();
			})
			$('.model-close').click(function () {
				$('.tk-model').hide();
			})
			$("#btnPlay").click(function () {
				location.href = "/Video3d/Detail";
				return false;
			});
			document.querySelector("#galleryWrapper").innerHTML = "<a-scene><a-assets><img src='http://picture.thomascook.com.cn/active/american-brand/F2.png' crossorigin='anonymous' id='vrImage'/></a-assets><a-sky src='#vrImage' crossorigin='anonymous' ></a-sky>/a-scene>";
		});

		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-72125131-5', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
